body{
  color:black;
}
#nav-main{
  position: relative;
  top:0px;
  width: 100vw;
  max-height: 6vh ;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: aliceblue;
}
#side-main{
  position: absolute;
  left:0px;
  top: 0px;
  height: 100vh;
  width: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: aqua;
}

#footer-main{
  position: absolute;
  bottom:0px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgb(0, 136, 255);
}
#contenedor{
  color: aliceblue;
  background-color: rgb(173, 29, 29);
  width: 100vw;
  height: 80vh;
  margin-left: 130px;
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}

#home-main{
  background-color: rgb(0, 0, 0);
  width: 90%;
  max-height: 500px;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}
.cards{
  background-color: rgb(71, 71, 71);
  width: 550px;
  border: solid 2px;
  border-color: aliceblue;
  margin-left: 20px;
}